  <div id="btn">
    <p>{{title}}</p>
    <p>用户名：{{author}}</p>
    {{> header}}
  </div>

  
<script>
  document.getElementById('btn').onclick=function(){
    alert('is good!');
  }
  const socket=new WebSocket("ws://localhost:8000");
    socket.addEventListener('onopen',function(event){
        socket.send('hello Server!');
    });
    socket.addEventListener('onmessage',function(event){
        console.log('message form server',event.data);
    })
</script>
