<!--//- extends layout

//- block content
//-   h1= title //jade取值方式
//-   ul
//-     each user in users //jade模版的遍历方式
//-       li
//-         h4 #{user.name}    
//-         span #{user.paw}-->
<div name="users">
    <div><p>操作：{{title}} </p>
        <p>内容：{{author}}</p></div>
</div>
